/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  background-color: #F6F6F6;
  color: var(--text-color-dark);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

button {
  font-size: 16px;
}
/* ---------- Grid container ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--light-green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
}

.img-col {}

.grid-container section {
  position: relative;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  margin: auto;
  width: 100%;
  text-align: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  background: var(--light-grey);
  animation: fadeIn 0.4s;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

/* Styling of profile */

.profile_img {
  text-align: center;
  padding-top: 20px;
}

.profile_img img{
  max-width: 150px;
  border-radius: 50%;
}

.profile_img i{
  font-size: 50px;
  color: #FA7F48;
  position: absolute;
}

.profile {
  text-align: center;
}

/* Settings styling */

.discover h4 {
  margin: 0;
  padding: 20px 0px 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
}
/* search area */

.searcharea {
  margin: 0;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.searcharea span {
  float: right;
  color: rgba(0, 0, 0, 0.5);
}

/* Styling of the slider */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px #555;
  background: #FA7F48;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* styling of current location in settings */

.location {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.location p {
  text-align: left;
  margin: 0;
}

.location span {
  float: right;
}
.location div {
  font-size: 12px;
  float: right;
  color: rgba(0, 0, 0, 0.7);
}

.location button {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: none;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* Styling of clear discover history */

.clear_history {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.clear_history button {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: none;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}


/* Styling of Contact and styling of law */

.contact_law h4{
  margin: 0;
  padding: 40px 0px 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
}

.help_rep_law {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.help_rep_law p {
  text-align: left;
  margin: 0;
}

.help_rep_law button {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: none;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
/* Tinder cards */
#favorites{overflow: hidden;}
.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder_nope .fa-times {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-times {
  color: #CDD6DD;
}
